body{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.post{
    background: white;
    padding: 0;
    width: 400px;
    justify-content: center;
}
.post-header{
    display:flex;
    justify-content:space-between
}
h5{
    margin: 0;
    margin-top: 5px;
}
.post-img {
    width: 100%;
    padding-top: 5px;
}
.color-pink{
    font-size: 2rem;
    padding: 5px;
}
.three-points{
    justify-content: flex-end;
    font-size: 1.5rem;
    padding: 10px;
}
.post-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    width: 100%;
}
.post-icons :only-child{
    padding: 2px;
    font-size: 1.5rem;
}
.post-body{
    margin: 10px;
}
.post-header-left{
    display: flex;
}
.post-icons-left{
    display:flex
}